<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="position-absolute top-0 end-0">
    <div class="text-muted mt-3 me-3">
      <a href="https://github.com/merkdev/twitch-custom-view" target="_blank" class="btn btn-dark btn-sm">
        <i class="bi-github"></i> View on GitHub
      </a>
    </div>
  </div>
  <h1>Custom Twitch Viewer</h1>
  <hr>
  <a href="/auth/twitch" class="btn twitch-bg-color">
    <i class="bi-twitch"></i>
    Connect With Twitch
  </a>
  <hr>
  <div class="text-muted fw-light fs-6">
    <p>Works with old devices like;</p>
    <ul>
      <li><small>ipad mini 1</small></li>
      <li><small>ipad mini 2</small></li>
      <li><small>ipad 1</small></li>
      <li><small>ipad 2</small></li>
      <li><small>samsung galaxy 7</small></li>
      <li><small>iOS 9.3.5</small></li>
      <li><small>etc.</small></li>
    </ul>
  </div>
  <div class="position-absolute bottom-0">
    <div class="text-muted mb-3">
      <a href="https://github.com/merkdev" target="_blank" class="btn btn-outline-secondary btn-sm">
        Kamer DINC <i class="bi-arrow-up-right"></i>
      </a>
    </div>
  </div>
</div>