<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <h1>Custom Twitch Viewer</h1>
  <hr>
  <a href="/auth/twitch" class="btn twitch-bg-color">
    <i class="bi-twitch"></i>
    Connect With Twitch
  </a>
  <hr>
  <div class="text-muted fw-light fs-6">
    <p>Works with old devices like;</p>
    <ul>
      <li>ipad mini 1</li>
      <li>ipad mini 2</li>
      <li>ipad 1</li>
      <li>ipad 2</li>
      <li>samsung galaxy 7</li>
      <li>iOS 9.3.5</li>
      <li>etc.</li>
    </ul>
  </div>
</div>