{{> menu}}

<iframe src="https://player.twitch.tv/?channel={{channelData.user_name}}&parent={{domain}}" height="100%" width="100%"
  frameborder="0" scrolling="no" allow="autoplay; fullscreen" style="min-height: 500px"
  allowfullscreen>
</iframe>

<a href="https://www.twitch.tv/{{channelData.user_name}}/?tt_content=twitch_logo&tt_medium=embed" class="btn btn-primary">Watch on Twitch</a>
